<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <title>{{title}}</title>
  </head>
  <body class="b-inside">
    <div class="header">
      <a href="/" class="logo">Conquer the Desert</a>
    </div>

    <div data-barba="wrapper">
      <div data-barba="container" data-barba-namespace="inside">
        <div asscroll-container>
          <div class="scroll-wrap">
            <!-- BEGIN content -->
            <div class="inside">
              <!-- BEGIN item -->
              <div class="single">
                <div
                  class="single__top"
                  style="background-image: url(/img/{{image}})"
                ></div>
                <div class="single__content">
                  <h1>{{title}}</h1>
                  <div>
                    {{content}}
                  </div>
                  <!-- BEGIN footer -->
                  <footer class="footer">
                    <p>&copy; 2021</p>
                    <p>Killian David</p>
                  </footer>
                  <!-- END footer -->

              </div>
              <!-- END item -->
            </div>
            <!-- END inside -->
          </div>
        </div>
        <!-- scroll divs -->
      </div>
    </div>
    <!-- end barba -->
    <div class="curtain"></div>
    <div id="container"></div>
    <script type="module" src="/js/app.js"></script>
  </body>
</html>
